.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 35px;
}

.todolist {
  width: 280px;
  border: 2px solid hotpink;
  border-radius: 5px;
  padding: 20px;
}

.task {
  font-weight: bold;
}

.task-done {
  font-weight: normal;
  text-decoration: line-through;
}



.titleWithButton {
  margin-bottom: 8px;
}

.todoTitle {
  font-size: 140%;
  font-weight: bold;
}

.btn-filter-container {
  display: flex;
  justify-content: space-between;
}